<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card border-danger shadow">
            <div class="card-body">
                <h1 class="display-4 text-danger text-center">Oops!</h1>

                <p class="lead text-justify"><%= messageErro %></p>

                <a href="/home" class="btn btn-primary mt-3">Voltar para o início</a>
            </div>
        </div>
    </div>
</div>